<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vitalog.spring_diet.mapper.BoardReviewMapper">

    <resultMap id="BoardReviewMap" type="boardReview">
        <id property="brno" column="BRNO"/>
        <result column="MNO" property="mno" />
        <result column="BRTITLE" property="brtitle" />
        <result column="brcontent" property="brcontent" />
        <result column="brwrite_date" property="brwrite_date" />
        <result column="brwrite_update" property="brwrite_update" />
        <result column="brviewcount" property="brviewcount" />
        <result column="brdanger" property="brdanger" />
        <result column="nickname" property="nickname" />
        <result column="awesomeCount" property="awesomeCount" />
    </resultMap>

    <select id="selectReviewList" resultMap="BoardReviewMap">
        SELECT
        br.brno, br.brtitle, m.nickname, br.brwrite_date, br.brviewcount, br.brcontent, br.brwrite_update, br.brdanger
        FROM boardreview br
        JOIN member m ON br.mno = m.mno
        ORDER BY br.brno DESC
    </select>

    <select id="selectReviewTotalCount" resultType="int">
        SELECT COUNT(*) FROM boardreview
    </select>

    <select id="selectMyReviewTotalCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM boardreview WHERE mno = #{mno}
    </select>

    <select id="selectReview" resultMap="BoardReviewMap">
        SELECT
        br.*,
        m.nickname, (SELECT COUNT(*) FROM BRAwesome WHERE brno = br.brno) AS awesomeCount
        FROM boardreview br
        JOIN member m ON br.mno = m.mno
        WHERE br.brno = #{brno}
    </select>

    <insert id="insertReview" parameterType="boardReview">
        <selectKey keyProperty="brno" resultType="int" order="BEFORE">
            SELECT BOARDREVIEW_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO boardreview (brno, brtitle, brcontent, mno, brwrite_date, brdanger, brviewcount, brstatus )
        VALUES (#{brno}, #{brtitle}, #{brcontent, jdbcType=CLOB}, #{mno}, SYSDATE, 0, 0, 0)
    </insert>

    <update id="updateViewCount" parameterType="int">
        UPDATE boardreview
        SET brviewcount = brviewcount + 1
        WHERE brno = #{brno}
    </update>

    <update id="updateReview" parameterType="boardReview">
        UPDATE boardreview
        SET brtitle = #{brtitle},
        brcontent = #{brcontent},
        brwrite_update = SYSDATE
        WHERE brno = #{brno}
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM boardreview WHERE brno = #{brno}
    </delete>

    <update id="updateDanger" parameterType="int">
        UPDATE boardreview SET brdanger = brdanger + 1 WHERE brno = #{brno}
    </update>

    <update id="updateStatusToDanger" parameterType="int">
        UPDATE boardreview SET brstatus = 1 WHERE brno = #{brno}
    </update>

    <select id="selectCommentList" resultType="BRComment">
        SELECT b.*, m.nickname,
        (SELECT COUNT(*) FROM BRCommentawesome WHERE cno = b.brcno) AS awesomeCount
        FROM brcomment b
        JOIN member m ON b.mno = m.mno
        WHERE b.brno = #{brno}
        ORDER BY b.brcno DESC
    </select>
    <insert id="insertComment" parameterType="BRComment">
        INSERT INTO brcomment (brcno, brno, mno, brccontent, brcwrite_date)
        VALUES (BR_COMMENT_SEQ.NEXTVAL, #{brno}, #{mno}, #{brccontent}, SYSDATE)
    </insert>
    <update id="updateComment" parameterType="BRComment">
        UPDATE brcomment
        SET brccontent = #{brccontent},
        brcwrite_update = SYSDATE
        WHERE brcno = #{brcno}
    </update>
    <delete id="deleteComment" parameterType="int">
        DELETE FROM brcomment WHERE brcno = #{brcno}
    </delete>
    <select id="selectComment" parameterType="int" resultType="BRComment">
        SELECT
        c.*,
        m.nickname
        FROM brcomment c
        JOIN member m ON c.mno = m.mno
        WHERE c.brcno = #{brcno}
    </select>

    <insert id="insertBRFile" parameterType="bRFile">
        INSERT INTO brfile (brfno, brno, brfname, brfpath)
        VALUES (BR_FILE_SEQ.NEXTVAL, #{brno}, #{brfname}, #{brfpath})
    </insert>
    <select id="selectFileList" parameterType="int" resultType="bRFile">
        SELECT * FROM brfile WHERE brno = #{brno}</select>

    <delete id="deleteFile" parameterType="int">
        DELETE FROM brfile WHERE brfno = #{brfno}
    </delete>

    <insert id="insertReviewAwesome" parameterType="map">
        INSERT INTO BRAwesome (brno, mno) VALUES (#{brno}, #{mno})
    </insert>
    <delete id="deleteReviewAwesome" parameterType="map">
        DELETE FROM BRAwesome WHERE brno = #{brno} AND mno = #{mno}
    </delete>
    <select id="selectReviewAwesomeCount" resultType="int">
        SELECT COUNT(*) FROM BRAwesome WHERE brno = #{brno}
    </select>
    <select id="selectAwesomeMemberIds" resultType="int">
        SELECT mno FROM BRAwesome WHERE brno = #{brno}
    </select>
    <select id="checkReviewAwesome" resultType="int">
        SELECT COUNT(*) FROM BRAwesome WHERE brno = #{brno} AND mno = #{mno}
    </select>
<!-- 댓글 신고-->
    <update id="updateCommentDanger" parameterType="int">
        UPDATE brcomment SET brcdanger = brcdanger + 1 WHERE brcno = #{brcno}
    </update>
<!-- 댓글좋아요토글-->
    <insert id="insertCommentAwesome" parameterType="map">
        INSERT INTO BRCommentawesome (cno, mno) VALUES (#{brcno}, #{mno})
    </insert>
    <delete id="deleteCommentAwesome" parameterType="map">
        DELETE FROM BRCommentawesome WHERE cno = #{brcno} AND mno = #{mno}
    </delete>
    <select id="selectCommentAwesomeCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM BRCommentawesome WHERE cno = #{brcno}
    </select>
    <select id="checkCommentAwesome" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM BRCommentawesome WHERE cno = #{brcno} AND mno = #{mno}
    </select>

</mapper>