<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitalog.spring_diet.mapper.TodoListMapper">
    <select id="selectTodoList" resultType="todo">
        select * from todoList where mno = #{mno} and tdate = #{date}
    </select>

    <insert id="insertTodo">
        insert into todolist (mno, tdate, tcontent) values (#{mno}, #{tdate}, #{tcontent})
    </insert>
</mapper>